html,body{
	font-family:"Calibri";
}

#title{
	font-size: 13vw;
	text-align: center;
}

.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10%;
}

.back{
	padding: 2%;
	z-index: initial;
}

h1 {
	text-align: center;
	font-size: 5vw;
}

.notReady {
	color: gray;
}

div {
	font-size: 5vw;
	padding-left: 2%;
	padding-right: 2%;
}

hr {
	background: gray;
	height: 2px;
}

.container {
	overflow: auto; /* This is to clear the floats */
	padding-left: 2%;
	padding-right: 2%;
}

.time {
	float: left;
	width: 50%;
}

.content {
	float: right;
	width: 50%;
	margin-right: 0; /* Remove the default margin */
  	text-align: right; /* Align the text to the right */
}

.day {
	padding-top: 3%;
	text-align: center;
	font-weight: bold;
	font-size: 7vw;
	padding-right: 10%;
}

.header {
	padding-top: 10%;
	font-weight: bold;
	font-size: 5vw;
	padding-left: 2%;
}

img {
    max-width:70%;
    text-align:center;
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.desc {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
}

